@import '../vars/vars';
@import '../mixins/mixins';

#learning-path-browser-controls {
  z-index: $bar-width - 10;
  position: absolute;
  width: 50px;
  right: 0;

  .action-container {
    width: 100%;
    padding: 2px;
    text-align: right;
  }
}

#bottom-container-loader {
  position: absolute;
  top: $bar-width;
  z-index: $bar-z-index - 5;
  height: calc(100% - #{$bar-width});
  width: 100%;
  background-color: $background-color;

  & > div {
    @include div-center();
    text-align: center;
    font-size: $loader-size;
    color: $loader-color;
  }
}

#bottom-container-content {
  padding: 0.25rem;

  #learning-path-title {
    font-size: 1.5rem;
  }

  #learning-path-canvas-div {
    position: relative;

    #learning-path-canvas {
      width: 100%;
    }

    #learning-path-tooltip-handle {
      width: 0;
      height: 0;
      position: absolute;
    }
  }
}
