body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#container_left, #container_right, #move_containers {
  height: 100%;
  box-sizing: border-box;
  float: left;
  z-index: 10;
}

#container_left {
  width: 100%;
}

#container_right {
  width: 0;
}

#move_containers {
  z-index: 20;
}

#container_right {
  float: right;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

#move_containers_inner {
  background-color: #f0f0f2;
  display: table;
  position: absolute;
  width: 18px;
  height: 100%;
  z-index: 20;
}

#button_container {
  display: table-cell;
  vertical-align: middle;
  z-index: 20;
}

.drag_window {
  z-index: 20;
  background-color: #f0f0f2;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 25%;
  font-size: 0;
  text-indent: -9999px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  transition: background 0.3s;
  cursor: ew-resize;
}

.drag_window:focus {
  outline: none;
}

.drag_window span {
  display: block;
  width: 2px;
  height: 100%;
  margin: 0 auto;
  background: #777;
}

.drag_window span::before,
.drag_window span::after {
  position: absolute;
  display: block;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #777;
  content: "";
}

.drag_window span::before {
  left: 3px;
}

.drag_window span::after {
  right: 3px;
}

#invisible_frame {
  background-color: unset;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#open_button_container {
  position: absolute;
  right: 2px;
  top: calc(50% - 100px);
}

@media (min-width: 1300px) {
  #open_button_container {
    position: absolute;
    left: calc(50% + 600px);
    top: calc(50% - 100px);
  }
}

#open_button {
  height: 200px;
  width: 50px;
}

#open_button > span {
  writing-mode: tb-rl;
  padding: 10px 0;
}

#right_button_container {
  position: absolute;
  right: 0;
  width: 0;
  bottom: 0;
  overflow: visible !important;
}

.button-container button.d3-button {
  height: 30px;
  font-size: 12px;
  padding: 1px;
  margin: 1px;
  /*display: none;*/
  width: 100%;
}

#close_button_container, #full_screen_button_container {
  position: absolute;
  bottom: 0;
  width: 40%;
  max-width: 300px;
}

#close_button_container {
  right: 2px;
}

#full_screen_button_container {
  left: 0;
}
