{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'help.title'|trans }}
{% endblock %}

{% block content %}
  {% if help.content is empty %}
    {{ 'help.no-content'|trans }}
  {% else %}
    <div class="ltb-text-container">
      {{ help.content|striptags(allowed_ckeditor_tags)|raw }}
    </div>
  {% endif %}
{% endblock %}
