div.login-surfconext {
  width: 100%;
  height: 100px;
  max-height: 25%;
  margin: 10px auto;
  background: url("../../img/authentication/surfconext.png") no-repeat center center;
  background-size: contain;
}

div#login-option {
  padding: 15px 20px 0;
}
