{% macro linkDisabledWhenFrozen(path, pathOptions, label) %}
  {% if _twigStudyArea.isFrozen %}
    <div class="d-inline-block" data-toggle="tooltip" data-placement="bottom" title="{{ 'study-area.frozen'|trans }}">
  {% else %}
    <a href="{{ path(path, pathOptions) }}">
  {% endif %}
  {{ label|trans }}
  {% if _twigStudyArea.isFrozen %}
    </div>
  {% else %}
    </a>
  {% endif %}
{% endmacro %}