{% extends 'communication/_base.html.twig' %}

{% block content %}
  <p>
    {{ '_general.heading'|trans({'%person%': editor}, 'communication') }}
  </p>

  <spacer></spacer>

  <p>
    {{ 'review.submission.approved.body'|trans({
      '%studyarea%': study_area_name,
      '%reviewer%': reviewer,
      '%publisher%': publisher
    }, 'communication') }}
  </p>

  <spacer></spacer>

  <p>
    {{ '_general.footer'|trans({}, 'communication') }}<br/>
    {{ '_brand.ltb'|trans({}, 'communication') }}
  </p>
{% endblock %}
