# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=1634c11fabc5715c7fc19fca7d2ca25c
DATABASE_URL=mysql://013-living-textbook:db_password@127.0.0.1:3306/013-living-textbook
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

EXCEPTION_MAILER_URL=null://localhost
EXCEPTION_RECEIVER=webmaster@drenso.nl
PRODUCTION_SERVER=false
APP_VERSION=0.1-alpha

HTTP_HOST=itc-giscience.utwente.nl
HTTP_SCHEMA=https
