version: '3.4'

services:
  php:
    build:
      context: ./docker/php
    volumes:
      - './:/var/www/ltb/'
    depends_on:
      - db
    networks:
      - ltb
  nginx:
    image: nginx:1.19-alpine
    volumes:
      - './public/:/var/www/ltb/:ro'
      - './docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro'
      - './docker/nginx/server.cert:/etc/nginx/certs/server.cert:ro'
      - './docker/nginx/server.key:/etc/nginx/certs/server.key:ro'
    depends_on:
      - php
    ports:
      - '10443:443'
    networks:
      - ltb
  db:
    image: mariadb:10.3
    command: [ '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_USER: 013-living-textbook
      MYSQL_PASSWORD: dbpass
      MYSQL_DATABASE: 013-living-textbook
    volumes:
      - 'db-data:/var/lib/mysql'
    networks:
      - ltb

volumes:
  db-data:

networks:
  ltb:
