{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'data.download'|trans }}
{% endblock %}

{% block content %}
  <p>{{ 'data.download-text'|trans }}</p>

  {{ form(form) }}
{% endblock %}
