{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'permissions.remove-all-permissions'|trans }}
{% endblock %}

{% block content %}
  <p>{{ 'permissions.remove-all-permissions-text'|trans({'%item%': studyArea.name}) }}</p>

  {{ form(form) }}
{% endblock %}
