{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'permissions.remove-all-permissions'|trans({'%type%': type }) }}
{% endblock %}

{% block content %}
  <p>{{ 'permissions.remove-all-permissions-text'|trans({'%type%': type, '%item%': studyArea.name }) }}</p>

  {{ form(form) }}
{% endblock %}
