{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'permissions.remove-permission'|trans({'%type%': type }) }}
{% endblock %}

{% block content %}
  <p>{{ 'permissions.remove-permission-text-email'|trans({'%email%': email, '%type%': type, '%item%': studyArea.name }) }}</p>

  {{ form(form) }}
{% endblock %}
