{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'app.dashboard'|trans }}
{% endblock %}

{% block content %}
  <a href="{{ path('app_concept_list') }}">Concept list</a>
{% endblock %}
