{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'app.dashboard'|trans }}
{% endblock %}

{% block content %}
  <p>{{ 'dashboard.study-area-text'|trans({'%studyArea%': studyArea.name}) }}</p>

  {% if form is not null %}
    {{ form(form) }}
  {% endif %}
{% endblock %}
