{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'learning-path.remove'|trans({'%item%': learningPath.name}) }}
{% endblock %}

{% block content %}
  <p>{{ 'learning-path.remove-text'|trans({'%item%': learningPath.name}) }}</p>

  {% from '_macro/_review.html.twig' import reviewNotice %}
  {{ reviewNotice(learningPath) }}

  {{ form(form) }}
{% endblock %}
