{% extends 'communication/_base.html.twig' %}

{% block content %}
  <p>
    {{ '_general.heading'|trans({'%person%': user}, 'communication') }}
  </p>

  <spacer></spacer>

  <p>
    {{ 'auth.password-reset-success.body'|trans({}, 'communication') }}
  </p>

  <spacer></spacer>

  <p>
    {{ '_general.footer'|trans({}, 'communication') }}<br/>
    {{ '_brand.ltb'|trans({}, 'communication') }}
  </p>
{% endblock %}
