// Color used in the design

// General layout colors
$background-color: #e4e4e4;
$drag-background-color: darken($background-color, 20%);
$drag-stripes-color: darken($background-color, 40%);

$loader-color: darken($background-color, 50%);
