@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '../vars/vars';

$mark-color: #fff256;
$note-color: #91ff6d;

.annotations-container {

  .annotations-buttons, .annotation-context-buttons {
    position: absolute;
    margin: 0.2em;
    padding: 0.2em;
    display: none;
  }

  .annotations-modal {
    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 95%;
      }
    }
    @media (min-width: 1024px) {
      .modal-dialog {
        max-width: 1000px;
      }
    }

    &.add {
      .annotations-selected-text {
        white-space: pre-wrap;
      }
    }
  }

  .annotations-note {
    display: none;

    .author-information {
      font-size: 0.75rem;
    }

    .card-body, .card-header {
      padding: 0.25rem 0.5rem;
    }
  }

  .annotations-note-container {
    .annotations-note {
      display: block;
    }
  }

  mark {
    padding: 0.25rem 0;
    border-radius: 0.25rem;

    &.mark {
      background-color: $mark-color;
    }

    &.note {
      background-color: $note-color;
    }
  }

}
