@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_buttons';
@import '../vars/vars';

$mark-color: #fff256;
$note-color: #91ff6d;
$commentSpacer: $spacer;

.annotations-container {

  .annotations-toggle {
    > span {
      display: none;

      &.off {
        display: inline;
      }
    }
  }

  .annotations-buttons, .annotation-context-buttons, .annotation-header-context-button {
    position: absolute;
    margin: 0.2em;
    padding: 0.2em;
    display: none;
  }

  .annotations-modal {
    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 95%;
      }
    }
    @media (min-width: 1024px) {
      .modal-dialog {
        max-width: 1000px;
      }
    }

    &.add {
      .annotations-selected-text {
        white-space: pre-wrap;
      }
    }
  }

  .annotations-note, .annotations-note-collection {
    display: none;

    .author-information {
      font-size: 0.75rem;
    }

    .card-body, .card-header {
      padding: 0.25rem 0.5rem;
    }

    button {
      .fa-spin {
        display: none;

        &.show {
          display: inline-block;
        }
      }
    }
  }

  .annotations-note-container {
    .annotations-note, .annotations-note-collection {
      display: block;

      &:not(:last-of-type) {
        margin-bottom: $commentSpacer / 4;
      }
    }

    .annotations-note {
      &:not(:first-of-type) {
        margin-left: $commentSpacer;
      }
    }
  }

  .annotations-comment-container {
    margin-top: $commentSpacer / 4;

    div {
      margin-left: $commentSpacer;

      .btn {
        margin-top: $commentSpacer / 4;
        float: right;
      }
    }
  }

  .annotations-outdated-button {
    display: none;
    text-align: right;

    &[data-annotations-context] {
      display: block;
    }

    .btn {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.2;
      border-radius: 0.2rem;
      border: none;
    }
  }

  mark, h2.annotated {
    padding: 0.25rem 0;
    border-radius: 0.25rem;

    &.mark {
      background-color: $mark-color;
    }

    &.note {
      background-color: $note-color;
    }
  }

  // Disabled annotation display when required
  &.annotations-disabled {
    mark, h2.annotated {
      &.mark, &.note {
        background-color: transparent !important;
      }
    }

    .annotations-outdated-button {
      display: none !important;
    }
  }

  &.annotations-show-own {
    mark, h2.annotated {
      &.mark, &.note {
        &.other {
          background-color: transparent !important;
        }
      }
    }

    .annotations-outdated-button {
      display: none !important;

      &.has-own {
        display: block !important;
      }
    }
  }

  .annotations-visibility {
    position: relative;

    .overlay {
      z-index: 100;
      position: absolute; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;

      &.show {
        display: block;
      }
    }

    .btn {
      &.active {
        @include button-variant(theme-color(), theme-color());
      }

      &:hover, &:focus, &:active, &.active {
        box-shadow: none !important;
      }
    }
  }

  .failed-modal {
    z-index: 1070;
  }

}

.modal-backdrop {
  &.failed-modal {
    z-index: 1060;
  }
}
