@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

$footer-height: 60px;

.footer {

  padding: $spacer ($spacer * 2);

  .logo {

    background-size: contain !important;
    max-width: 50%;

    &.logo-itc {
      float: left;
      background: url("../../img/footer/itc.png") no-repeat top left;
      height: $footer-height;
      width: $footer-height;
    }

    &.logo-ut {
      float: right;
      background: url("../../img/footer/ut.svg") no-repeat top right;
      height: $footer-height;
      width: 300px;
    }
  }
}
