@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

$footer-height: 60px;

.footer {

  padding: $spacer ($spacer * 2);

  .logo {

    background-size: contain !important;
    max-width: 50%;

    &.logo-ucgis {
      float: right;
      background: url('../../img/footer/ucgis-logo-horizontal.svg') no-repeat center right;
      height: $footer-height;
      width: 300px;
    }

    &.logo-ut {
      float: left;
      background: url('../../img/footer/ut.svg') no-repeat center left;
      height: $footer-height;
      width: 300px;
    }
  }
}
