form {
  legend, label {
    font-weight: bold;
  }

  label {
    &.required {
      &::after {
        content: ' *';
        color: red;
      }
    }
  }
}

.card {
  &.card-collection {
    margin-bottom: 10px;

    & > .card-body {
      padding: 0.75rem;

      & > .form-group {
        margin-bottom: 0;
      }
    }
  }
}
