@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

.license-notice {
  margin-top: $spacer;
  display: flex;

  > .license-image {
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: $spacer * 0.5;
    height: 2rem;
    width: 6.5rem;
    background: url('../../img/footer/license.svg') no-repeat bottom left;
    background-size: contain;
  }
}

.landing-page {
  background: none;

  &::after {
    content: '';
    background: url('../../img/icon/ucgis-icon.svg') no-repeat top right;
    background-size: contain;
    background-origin: content-box;
    opacity: 0.1;
    top: $spacer;
    left: $spacer;
    bottom: $spacer;
    right: $spacer;
    position: absolute;

    pointer-events: none;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }
}
