@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

$logo-size: 40px;

.navbar {

  .fa {
    font-size: 1.25rem;
    vertical-align: middle;
  }

  .navbar-logo-brand {
    display: flex;

    text-decoration: none;

    .navbar-logo {
      background: url('../../img/icon/LTB_Logo_V4.svg') no-repeat center center;
      width: $logo-size;
      height: $logo-size;
      margin: 0 ($spacer * 0.5) 0 0;
    }

    .navbar-brand {
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }
  }

  .navbar-toggler {
    &.user {
      > i.fa {
        height: 30px;
        line-height: 30px;
      }
    }

    &.global-search-container {
      padding: 0;
      font-size: initial;
      line-height: initial;
      background-color: transparent;
      border: 0;
    }
  }

  .menu-toggle {
    display: inline-block;

    .fa-times {
      font-size: inherit;
    }
  }

  #collapseRight {
    text-align: right;
    @include media-breakpoint-up(lg) {
      display: inline-block !important;
    }
    @include media-breakpoint-down(md) {
      padding-top: $spacer * 0.5;
    }
  }
}
