.review-card {
  margin-bottom: $spacer;

  .card-body, .card-header, .list-group-item {
    padding: 0.5rem;
  }

  .review-header {
    margin-bottom: 0;

    .custom-checkbox {
      display: inline-block;
      line-height: 1em;
    }

    .fa {
      float: right;
      margin-top: 4px;
    }
  }

  .review-item {
    .col-form-label {
      display: block;
      font-size: smaller;
      margin: 0;
      padding: 0;
    }

    &.with-checkbox {

      > .row {
        > div:first-child {
          padding-left: calc(15px + 1.5em);
        }

        @include media-breakpoint-down(sm) {
          > div {
            padding-left: calc(15px + 1.5em);
          }
        }
      }
    }
  }
}

.review-no-content {
  font-size: smaller;
  font-style: italic;
}

.diff-container {
  @import '../../../vendor/caxy/php-htmldiff/demo/codes.css';
}
