@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_buttons.scss';
@import '../vars/vars';

$baseSize: 25px;
$spacer: 10px;

.sortable-learning-path {

  margin-bottom: -$spacer;

  label, legend {
    font-weight: normal;
  }

  ul.sortable-list {
    margin: -$spacer 0 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      border: 1px solid $drag-stripes-color;
      border-radius: 0.25em;
      background-color: $card-bg;

      min-height: $baseSize;
      padding: $spacer;
      margin: $spacer 0;

      // Make placeholder have comfortable size
      &.ui-sortable-placeholder {
        height: $baseSize * 2;
      }

      // Hide description field when it is the last item, and update icon
      &:last-of-type:not(.ui-sortable-helper) {
        .item {
          .form-group {
            margin-bottom: 0;

            &:last-of-type {
              display: none;
            }
          }
        }

        .path-layout {
          background-image: url('../../img/content/learning-path-element-concept-only.svg');
        }
      }

      .handle {
        position: absolute;
        top: $spacer;
        left: $spacer;
        width: $baseSize;
        font-size: $baseSize;
        line-height: $baseSize;
        cursor: move;

        .fa {
          vertical-align: top;
          width: 100%;
        }
      }

      .path-layout {
        position: absolute;
        top: $spacer;
        bottom: $spacer;
        left: 2 * $baseSize;
        width: $baseSize + 3 * $spacer;

        background-image: url('../../img/content/learning-path-element.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      .item {
        width: 100%;
        padding-left: 4 * $baseSize + 2 * $spacer;
        padding-right: 2 * $baseSize + $spacer;

        .form-group:last-of-type {
          margin-bottom: 0;
        }
      }

      .remove-handle {
        position: absolute;
        top: $spacer;
        right: $spacer;
      }
    }
  }
}
