$tag-grid: map-get($spacers, 1);

.concept-tags {
  display: flex;
  flex-wrap: wrap;
  margin: -1 * $tag-grid;
  margin-bottom: map-get($spacers, 2);

  .concept-tag {
    border: 2px solid;
    margin: $tag-grid;
    padding: 0.1rem 0.75rem;

    &.clickable {
      cursor: pointer;
    }
  }
}

.tagged-concepts {
  padding: 0;
  list-style: none;

  .tagged-concept {
    border-top: 0;
    display: inline-block;
    margin-bottom: $spacer * 2;
    padding-top: 0;
  }

  .concept-image {
    float: left;
    margin: 0 $spacer * 2 $spacer * 2 0;
    width: 30%;
  }

  .concept-image img {
    max-width: 100%;
    vertical-align: top;
  }

  p {
    text-align: justify;
  }
}


@include media-breakpoint-down(md) {
  .tagged-concepts{
    .concept-image {
      float: unset;
      width: 100%;
    }
  }  
}

