@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '../vars/vars';
@import '../mixins/mixins';

.container-fluid {
  &.with-menu {
    margin: 0;
    padding: 0;
  }
}

#reloader {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: $background-color;

  & > div {
    @include div-center();
    text-align: center;
    font-size: $loader-size;
    color: $loader-color;
  }
}

@import '_landing';
@import '_menu';
@import 'styleGuide';
@import '_forms';
@import '_search';

.ltb-text-container {
  @include styleGuide;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

table.table {
  &:last-child {
    margin-bottom: 0;
  }
}

div.spacer {
  height: 0;
  width: 100%;
  margin-bottom: $spacer;
}

@import '_footer';
