{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.edit_row(
    path('app_review_removereview', {review: review.id}),
    path('app_review_submissions')
  ) }}
{% endblock %}

{% block title %}
  {{ 'review.edit-title'|trans }}
{% endblock %}

{% block content %}
  {{ form(form) }}

  <div class="spacer"></div>

  {{ form(changesForm) }}
{% endblock %}
