{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'concept.instantiate.instantiate'|trans }}
{% endblock %}

{% block content %}
  <p>{{ 'concept.instantiate.instantiate-text'|trans }}</p>

  {{ form(form) }}
{% endblock %}
