@import '../vars/vars';
@import '../mixins/mixins';

.analytics-dashboard {
  form {
    .form-group:last-of-type {
      text-align: right;
    }
  }

  .img-results {
    img {
      max-width: 100%;
    }
  }

  .analytics-canvas-div {
    width: 100%;
    overflow-x: hidden;

    canvas {
      background-color: $background-color;
    }
  }
}
