{% extends 'simple_card.html.twig' %}

{% block title %}
  {{ 'auth.reset-password-title'|trans }}
{% endblock %}

{% block content %}
  <p>
    {{ 'auth.reset-password-text'|trans }}
  </p>

  {{ form(form) }}
{% endblock %}
