{% extends 'simple_card.html.twig' %}

{% block title %}
  {{ 'auth.password-reset-sent-title'|trans }}
{% endblock %}

{% block content %}
  <p>
    {{ 'auth.password-reset-sent'|trans }}
  </p>
{% endblock %}
