{% extends 'single_column.html.twig' %}

{% block base_content %}
  <div class="container-fluid">
    <div class="row justify-content-center mt-3">
      <div class="col-sm-12 col-md-10 col-xl-8">
        <div class="card">
          <div class="card-body">
            <h1>{{ block('title') }}</h1>
            {% include '_layout/flashbags.html.twig' %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div class="footer">
          <div class="logo logo-itc"></div>
          <div class="logo logo-ut"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
