{% extends 'single_column.html.twig' %}

{% block base_content %}
  <div class="container-fluid">
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-sm-10 col-md-8 col-xl-6">
        <div class="card">
          <h1 class="card-header">{{ block('title') }}</h1>
          <div class="card-body">
            {% include '_layout/flashbags.html.twig' %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
