{% extends '_layout/base.html.twig' %}

{% block base_content %}
  <div class="container-fluid">
    <div class="card container-card">
      <div class="card-body">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
