{% extends 'simple_card.html.twig' %}

{% block title %}
  {{ 'study-area.add-title'|trans }}
{% endblock %}

{% block content %}
  <p>{{ 'study-area.required'|trans }}</p>

  {{ form(form) }}
{% endblock %}
