{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% from '_macro/_action_bar.html.twig' import action_bar %}
  {{ action_bar(
    is_granted('STUDYAREA_OWNER', studyArea) ? path('app_studyarea_edit', {'studyArea': studyArea.id}) : false,
    false,
    path('app_studyarea_list'),
    false,
    is_granted('STUDYAREA_OWNER', studyArea) ? path('app_studyarea_remove', {'studyArea': studyArea.id}) : false,
    -1
  ) }}
{% endblock %}

{% block title %}
  {{ studyArea.name }}
{% endblock %}

{% block content %}
  <p>{{ 'study-area.show'|trans({'%owner%': studyArea.owner|default('nobody')}) }}</p>

  {% from 'concept/list.html.twig' import list %}
  {{ list(concepts, studyArea) }}

{% endblock %}
