#concept-browser-controls {
  z-index: 85;
  position: absolute;

  .search-container, .action-container {
    width: 40%;
    max-width: 300px;
    padding: 2px;
  }

  .action-container {
    text-align: right;
  }
}

#right-container-content, #graph_container_div {
  width: 100%;
  height: 100%;
  z-index: 10;
}
