@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/gradients';
@import '~bootstrap/scss/mixins/hover';

$search-width: 300px;
$button-padding: 2px;

#concept-browser-controls, #concept-browser-controls-bottom {
  z-index: 85;
  position: absolute;
  pointer-events: none;

  div {
    pointer-events: none;
  }

  button, input, ul, li {
    pointer-events: all;
  }

  .search-container, .action-container, .pause-container {
    padding: $button-padding;
  }

  .search-container {
    width: 40%;
    max-width: $search-width;

    .typeahead {
      max-width: calc(100% - #{2 * $button-padding});

      .dropdown-item {
        @include hover {
          color: $dropdown-link-color;
          background-color: transparent;
        }
      }

      .active .dropdown-item {
        color: $dropdown-link-active-color;
        text-decoration: none;
        @include gradient-bg($dropdown-link-active-bg);
      }

      a {
        white-space: pre-wrap;
      }
    }
  }

  .action-container {
    text-align: right;
  }

  .pause-container {
    #play-button {
      display: none;
    }
  }
}

#concept-browser-controls-bottom {
  right: 0;
  bottom: 0;
}

#right-container-content, #graph_container_div {
  width: 100%;
  height: 100%;
  z-index: 10;
}

#context-menu-layer, .context-menu-list, .context-menu-root {
  z-index: 100 !important;
}
