{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.add_row(path('app_user_apitokens')) }}
{% endblock %}

{% block title %}
  {{ 'user.api-tokens.generated-title'|trans }}
{% endblock %}

{% block content %}
  <p>
    {{ 'user.api-tokens.generated-text'|trans }}
  </p>

  <input class="form-control" type="text" readonly value="{{ token }}">
{% endblock %}

